# Project exclude paths
/.gradle/
/build/
/src/main/java/net/iamaprogrammer/superblocklib/registries/
/src/main/java/net/iamaprogrammer/superblocklib/multiblock/DumpsterMultiblock.java
/src/main/java/net/iamaprogrammer/superblocklib/multiblock/DumpsterMultiblockEntity.java
/src/main/resources/assets/superblocklib/blockstates/
/src/main/resources/assets/superblocklib/models/
/run/
/.idea/
